* {
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
.numbers-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.color-box {
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50pt;
    text-shadow: 1px 1px 4px black;
    width: 100%;
    max-width: 50%;
    height: 175px;
}
.color-box-1 {
    background-color: red;
}
.color-box-2 {
    background-color: orange;
}
.color-box-3 {
    background-color: yellow;
}
.color-box-4 {
    background-color: green;
}
.color-box-5 {
    background-color: blue;
}
.color-box-6 {
    background-color: purple;
}

@media only screen and (min-width: 600) {
    .color-box {
        max-width:33.33%;
    }
    
}

    /*
body {
}
.color-box-1 {
    background-color: red;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
}
.color-box-2 {
    background-color: orange;
    top: 0;
    right: 0;
}
.color-box-3 {
    background-color: yellow;
    left: 0;
}
.color-box-4 {
    background-color: green;
    right: 0;
}
.color-box-5 {
    background-color: blue;
    bottom: 0;
    left: 0;
}
.color-box-6 {
    background-color: purple;
    bottom: 0;
    right: 0;
}
*/